.fondo-color{
    background-image: url("../img/bf-degra.svg");
    background-size: cover;
}

.navbar-estilo{
    background-color: #3f4738 !important;
    border-bottom: 5px solid #bca624;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.fuente-palabras{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #eff6ee;
}

.menu-letras{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #eff6ee;
}

.menu-letras:hover{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #cacaca;
}
.menu-letras:active{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: light;
    color: #ffffff;
}

.menu-letras:focus{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #a5a5a5;
}

.movimiento-inicio-sesion{
    color: #bca624;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 30px;
}

.caja-gris{
    background-color: #3f4738;
    padding: 30px;
    border-radius: 20px;
    margin-top: 10px;
}

.caja-peque{
    background-color: #3f4738; 
    border: 1px;
    padding: 20px;
    height: 240px; 
    text-align: center;
    margin-bottom: 35px;
    border-radius: 30px;
}

.cuadrado-grande{
    display: flex;
    flex-direction: column; 
}

.contenedor-boton{
    margin-top: auto;              
}

.ajuste-letras-bloque{
    text-align: left;
    margin-bottom: 20px;
}

.ajuste-letras-bloque-der{
    text-align: right;
    margin-bottom: 20px;
}

.fuente-palabras-slim{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    color: white;
}

.enlaces-footer{
    margin-bottom: 10px;
}

.footer-estilo{
    background-color: #4c5844;
    border-top: 3px solid #968732; 
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.boton-footer{
    border-radius: 1px;
    padding: 1px 15px; 
    margin-bottom: 4px;
}

.columna-der-footer{
    text-align: right;
}

.logoContactoCaja{
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 400px; 
  padding: 10%;
}

.logoContactoImagen{
    height: 300px;
    width: 400px;
}

.estiloForm{
    width: 50vw;   
    margin-left: auto;
    margin-right: auto;

    background-color: darkgrey;
    border: 3px solid black ;
    padding: 4%;
    
}
.caja-registro{
    background-color: #e5e5e5;
    border: 5px solid #000000;
    margin-top: 40px;
}

.caja-reg-inicio-peq{
    background-color: #3f4738; 
    padding: 5px; 
    margin-bottom: 20px;
    border-radius: 10px;
}

.boton-reini{
    border: 2px solid #000000;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ffffff;
}

.boton-reini:hover{
    background-color: #303030;
    color: #ffffff;
}

.boton-colores-inicio{
    background-color: #007bff;
    border: 3px solid #015dbe; 
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.boton-contacto{
    padding-left: 100px;
    padding-right: 100px;
    display: contents;
    border: 3px solid black;
}

.imagen-ajustada{
  max-width: 100%;
  height: auto;
  object-fit: contain; 
}