.fondo-color{
    background-color: gray;
}

.navbar-estilo{
    border-bottom: 3px solid black;
}

.fuente-palabras{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.movimiento-inicio-sesion{
    text-align: right;
    padding-top: 50px;
}

.caja-gris{
    background-color: rgb(243, 243, 243);
    padding: 30px;
    border-radius: 2px;
    margin-top: 10px;
}

.caja-peque{
    background-color: white; 
    border: 1px;
    padding: 20px;
    height: 240px; 
    text-align: center;
    margin-bottom: 35px;
}

.cuadrado-grande{
    display: flex;
    flex-direction: column; 
}

.contenedor-boton{
    margin-top: auto;              
}

.ajuste-letras-bloque{
    text-align: left;
    margin-bottom: 20px;
}

.ajuste-letras-bloque-der{
    text-align: right;
    margin-bottom: 20px;
}

.fuente-palabras-slim{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.enlaces-footer{
    margin-bottom: 10px;
}

.footer-estilo{
    background-color: rgb(255, 255, 255);
     border-top: 3px solid rgb(0, 0, 0); 
     padding-top: 20px
}

.boton-footer{
    border-radius: 1px;
    padding: 1px 15px; 
    margin-bottom: 4px;
}

.columna-der-footer{
    text-align: right;
}

<<<<<<< HEAD
.logoContactoCaja{
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 400px; 
  padding: 10%;
}

.logoContactoImagen{
    height: 300px;
    width: 400px;
}

.estiloForm{
    width: 50vw;   
    margin-left: auto;
    margin-right: auto;

    background-color: darkgrey;
    border: 3px solid black ;
    padding: 4%;
    
}
=======
.caja-registro{
    background-color: #e5e5e5;
    border: 5px solid #000000;
    margin-top: 40px;
}

.boton-reini{
    border: 2px solid #000000;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ffffff;
}

.boton-reini:hover{
    background-color: #303030;
    color: #ffffff;
}

.boton-colores-inicio{
    background-color: #007bff;
    border: 3px solid #015dbe; 
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
>>>>>>> f09cd7c87bd8525e08ae794cd2e5effec4871165
