.fondo-color{
    background-color: gray;
}

.fuente-palabras{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.movimiento-inicio-sesion{
    text-align: right;
    padding-top: 50px;
}

.caja-gris{
    background-color: rgb(243, 243, 243);
    padding: 30px;
    border-radius: 2px;
    margin-top: 10px;
}

.caja-peque{
    background-color: white; 
    border: 1px;
    padding: 20px;
    height: 240px; 
    text-align: center;
    margin-bottom: 35px;
}

.cuadrado-grande{
    display: flex;
    flex-direction: column; 
}

.contenedor-boton{
    margin-top: auto;              
}

.ajuste-letras-bloque{
    text-align: left;
    margin-bottom: 20px;
}

.ajuste-letras-bloque-der{
    text-align: right;
    margin-bottom: 20px;
}

.fuente-palabras-slim{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.enlaces-footer{
    margin-bottom: 10px;
}

.columna-der-footer{
    text-align: right;
}

.caja-registro{
    background-color: #e5e5e5;
    border: 5px solid #000000;
    margin-top: 40px;
}
